<div class="header-top">
  <div class="container">
    <div class="left-container">
      Nazlı Genç
    </div>
    <div class="right-container">
      <div class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="search">
        <input type="text" class="search-input" placeholder="Search...">
        <button type="submit" class="search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="hamburger" (click)="toggleMenu()">
        &#9776;
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="side-navbar">
    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="/categories">CATEGORIES</a></li>
      <li><a href="/politics">POLITICS</a></li>
      <li><a href="/business">BUSINESS</a></li>
      <li><a href="/health">HEALTH</a></li>
      <li><a href="/design">DESIGN</a></li>
      <li><a href="/sport">SPORT</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/about">ABOUT ME</a></li>
    </ul>
  </div>
</div>
<div class="dropdown-menu" [class.open]="isMenuOpen">
  <div class="close-button" (click)="toggleMenu()">&#10005;</div>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/politics">Politics</a></li>
    <li><a href="/business">Business</a></li>
    <li><a href="/health">Health</a></li>
    <li><a href="/design">Design</a></li>
    <li><a href="/sport">Sport</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About Me</a></li>
  </ul>
</div>
