<div class="header-top">
  <div class="container">
    <div class="left-container">
      Meranda
    </div>
    <div class="right-container">
      <div class="icons">
        <i class="fa-brands fa-facebook-f fa-2xs"></i>
        <i class="fa-brands fa-twitter fa-2xs"></i>
        <i class="fa-brands fa-instagram fa-2xs"></i>
      </div>
      <div class="search">
        <input type="text" class="search-input" placeholder="Search...">
        <button type="submit" class="search-button">
          <i class="fa-solid fa-magnifying-glass fa"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="side-navbar">
    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="/categories">CATEGORIES</a></li>
      <li><a href="/politics">POLITICS</a></li>
      <li><a href="/business">BUSINESS</a></li>
      <li><a href="/health">HEALTH</a></li>
      <li><a href="/design">DESIGN</a></li>
      <li><a href="/sport">SPORT</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</div>
