<app-header></app-header>
<div class="contact">
  <div class="contact-content">
    <div class="contact-header">Contact Us</div>
    <div class="post">
     <div class="row">
       <div class="firstName">
         <span>First Name</span>
         <div class="fn-input">
           <input type="text" class="fn-input">
         </div>
       </div>
       <div class="lastName">
         <span>Last Name</span>
       <div class="ln-input">
         <input type="text" class="ln-input">
       </div>
     </div>
     </div>
      <div class="row">
        <div class="email">
          <span>Email Address</span>
          <div class="mail-input">
            <input type="text" class="mail-input">
          </div>
        </div>
        <div class="telNumber">
          <span>Tel. Number</span>
          <div class="tel-input">
            <input type="text" class="tel-input">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="message">Message</div>
        <input type="text" class="form-control">
      </div>
      <div class="row">
        <button class="sendMessage">SEND MESSAGE</button>
      </div>
    </div>
  </div>
</div>
<div class="end">

</div>
