<!-- categories.component.html -->
<app-header></app-header>

<div class="container d-flex flex-column" style="margin-top: 60px">
  <div class="text">CATEGORIES</div>

  <div (click)="onCategoryChange('business')" class="category-link">
    <div class="d-flex category">
      Business
    </div>
  </div>

  <div (click)="onCategoryChange('entertainment')" class="category-link">
    <div class="d-flex category">
      Entertainment
    </div>
  </div>

  <div (click)="onCategoryChange('health')" class="category-link">
    <div class="d-flex category">
      Health
    </div>
  </div>

  <div (click)="onCategoryChange('science')" class="category-link">
    <div class="d-flex category">
      Science
    </div>
  </div>

  <div (click)="onCategoryChange('sports')" class="category-link">
    <div class="d-flex category">
      Sports
    </div>
  </div>

  <div (click)="onCategoryChange('technology')" class="category-link">
    <div class="d-flex category">
      Technology
    </div>
  </div>

  <div class="news-container">
    <h2>Filtered Results</h2>
    <div *ngFor="let article of businessNews" class="news-item">
      <div class="news-content">
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p>
        <p class="news-source">{{ article.source.name }}</p>
        <p class="news-date">{{ article.publishedAt | date }}</p>
      </div>
      <div class="news-image">
        <img [src]="article.urlToImage ? article.urlToImage : '/assets/breakingNews.jpg'" alt="News Image" />
      </div>
    </div>
  </div>
</div>
