<div class="slider-container">
  <div class="slider" [style.transform]="getTransform()" [class.transition]="isTransitioning">
    <div class="slide" *ngFor="let slide of visiblePosts">
      <div class="ic_alt">
        <div class="image">
          <div>
            <img [src]="slide.image" alt="Image" (error)="onImageError($event)">
          </div>
        </div>
        <div class="content-block">
          <div class="content">
            <span class="editorspick">{{ slide.edit }}</span>
            <h2>{{ slide.title }}</h2>
            <p class="text">{{ slide.description }}</p>
            <div class="author-info">
              <span>{{ slide.author }}</span>
              <span>{{ slide.date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-slider-prev" (click)="prevSlide()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
  <div class="button-slider-next" (click)="nextSlide()">
    <i class="fa-solid fa-arrow-right"></i>
  </div>
  <div class="indicators">
    <div
      *ngFor="let slide of visiblePosts; let i = index"
      class="indicator"
      [class.active]="currentIndex === i"
      (click)="goToSlide(i)"
    ></div>
  </div>
</div>
