<app-header></app-header>
<div class="image-contents">
  <app-slider style="width: 100%;height: 100%"></app-slider>
</div>

<div class="alt-container">
  <div class="altcontents-block">
    <div class="altcontents-left">
      <div class="contents">
        <div class="header">
          <span class="editorspick2">Editor's Pick</span>
          <div class="altcontents-image">
            <div>
              <img src="/assets/image1.jpg">
            </div>
          </div>
          <div class="altcontents-text">
            <h2></h2>
            <p class="text"></p>
            <div style="display: flex; flex-direction: column">
              <span></span>
              <span></span>
            </div>

          </div>
        </div>
        <div class="columns-left">
          <div class="c1" >
            <div class="c1-image">
              <img src="/assets/image1.jpg">
            </div>
            <div class="c1-content">
              <h4></h4>
              <span></span>


            </div>
          </div>
          <div class="c2" >
            <div class="c2-image">
              <img src="/assets/image1.jpg">
            </div>
            <div class="c2-content">
              <h4></h4>
              <span></span>
            </div>
          </div>
          <div class="c3" >
            <div class="c3-image">
              <img src="/assets/image1.jpg">
            </div>
            <div class="c3-content">
              <h4></h4>
              <span></span>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="altcontent-right">
      <div class="header-right">Trending</div>
      <div class="right-content" >
        <div class="first">
          <div class="first-number">01</div>
          <div class="first-content">
            <h4></h4>
            <span></span>
          </div>
        </div>
        <div class="second">
          <div class="second-number">02</div>
          <div class="second-content" >
            <h4></h4>
            <span></span>
          </div>
        </div>
        <div class="third">
          <div class="third-number">03</div>
          <div class="third-content">
            <h4></h4>
            <span></span>
          </div>
        </div>
        <div class="fourth">
          <div class="fourth-number">04</div>
          <div class="fourth-content" >
            <h4></h4>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="seealltrends-button">
  <button class="seealltrends">SEE ALL TRENDS
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
<div class="image-contents">
  <div class="ic_alt">
    <div class="image">
      <div>
        <img src="/assets/image1.jpg">
      </div>



    </div>
    <div class="content-block">
      <div class="content">
        <span class="editorspick">EDITOR'S PICK</span>
        <div class="editor">
          <h2></h2>
        </div>

        <p></p>
        <div style="display: flex; flex-direction: column">
          <span> in</span>

        </div>

      </div>
    </div>

  </div>


</div>
<div class="politics-business">
  <div class="politics">
    <div class="header-politics">Politics</div>
    <div class="politics-content">
      <div class="pc1">
        <div class="pc1-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="pc1-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
      <div class="pc2">
        <div class="pc2-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="pc2-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
      <div class="pc3">
        <div class="pc3-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="pc3-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
    </div>
  </div>


  <div class="business">
    <div class="header-business">Business</div>
    <div class="business-content">
      <div class="bc1">
        <div class="bc1-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="bc1-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
      <div class="bc2">
        <div class="bc2-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="bc2-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
      <div class="bc3">
        <div class="bc3-image">
          <img src="/assets/image1.jpg">
        </div>
        <div class="bc3-content">
          <h2>News Needs to Meet Its Audiences Where They Are</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
          <span>Dave Rogers</span><br>
          <span>Jun14</span>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="recent-popular">
  <div class="recentnews">
    <div class="rn-header">Recent News</div>
    <div class="rn1">
      <div class="r1-content">
        <h2>News Needs to Meet Its Audiences Where They Are</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
        <span>Dave Rogers</span><br>
        <span>Jun14</span>
      </div>
    </div>
    <div class="rn1">
      <div class="r1-content">
        <h2>News Needs to Meet Its Audiences Where They Are</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>
        <span>Dave Rogers</span><br>
        <span>Jun14</span>
      </div>
    </div>
    <div class="rn2">
      <span class="rn2editorspick">EDITOR'S PICK</span>
      <h2>News Needs to Meet Its Audiences Where They Are</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam. </p>

      <div style="display: flex; flex-direction: column">
        <span>Dave Rogers</span>
        <span>Jun14 </span>
      </div>
      <div class="i1">
        <img src="/assets/image1.jpg">

      </div>
      <div class="i2">
        <img src="/assets/image1.jpg">
      </div>
      <div class="i3">
        <img src="/assets/image1.jpg">
      </div>
    </div>


  </div>
  <div class="popularposts">
    <div class="pp-header">Popular Posts</div>
    <div class="pp1">
      <div class="pp1-number">01</div>
      <div class="pp1-content">
        <h4>News Needs to Meet Its Audiences Where They Are</h4>
        <span>Dave Rogers in News</span>
      </div>
    </div>
    <div class="pp2">
      <div class="pp2-number">02</div>
      <div class="pp2-content">
        <h4>News Needs to Meet Its Audiences Where They Are</h4>
        <span>Dave Rogers in News</span>
      </div>
    </div>
    <div class="pp3">
      <div class="pp3-number">03</div>
      <div class="pp3-content">
        <h4>News Needs to Meet Its Audiences Where They Are</h4>
        <span>Dave Rogers in News</span>
      </div>
    </div>
    <div class="pp4">
      <div class="pp4-number">04</div>
      <div class="pp4-content">
        <h4>News Needs to Meet Its Audiences Where They Are</h4>
        <span>Dave Rogers in News</span>
      </div>
    </div>


  </div>

</div>

<div class="seeallpopular-button">
  <button class="seeallpopular">SEE ALL POPULAR
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>

<div class="last">
  <div class="last-header">Newsletter Subscribe </div>
  <div class="last-content">
    <p> Get the latest news and exclusive content delivered straight to your inbox! Subscribe to our newsletter today!</p>
  </div>
  <div class="last-search">
    <div class="last-searchinput">
      <input type="text" class="searchinput" placeholder="Enter your email">
      <button type="submit" class="search-button">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
<div class="end"></div>




