<app-header></app-header>
<div class="image-contents">
  <app-slider style="width: 100%;height: 100%"></app-slider>
</div>

<div class="alt-container" *ngIf="articles.length > 0">
  <div class="altcontents-block">
    <div class="altcontents-left">
      <div class="contents">
        <div class="header">
          <span class="editorspick2">Editor's Pick</span>
          <div class="altcontents-image">
            <div>
              <img [src]="articles[0].urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
            </div>
          </div>
          <div class="altcontents-text">
            <h2>{{ articles[0].title }}</h2>
            <p class="text">{{ articles[0].description }}</p>
            <div style="display: flex; flex-direction: column">
              <span>{{ articles[0].author }}</span>
              <span>{{ articles[0].publishedAt | date:'mediumDate' }}</span>
            </div>

          </div>
        </div>
        <div class="columns-left">
          <div class="c1" *ngIf="articles[1]">
            <div class="c1-image">
              <img [src]="articles[1].urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
            </div>
            <div class="c1-content">
              <h4>{{ articles[1].title }}</h4>
              <span>{{ articles[1].author }}</span>


            </div>
          </div>
          <div class="c2" *ngIf="articles[2]">
            <div class="c2-image">
              <img [src]="articles[2].urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
            </div>
            <div class="c2-content">
              <h4>{{ articles[2].title }}</h4>
              <span>{{ articles[2].author }}</span>
            </div>
          </div>
          <div class="c3" *ngIf="articles[3]">
            <div class="c3-image">
              <img [src]="articles[3].urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
            </div>
            <div class="c3-content">
              <h4>{{ articles[3].title }}</h4>
              <span>{{ articles[3].author }}</span>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="altcontent-right">
      <div class="header-right">Trending</div>
      <div class="right-content" *ngIf="articles[4]">
        <div class="first">
          <div class="first-number">01</div>
          <div class="first-content">
            <h4>{{ articles[4].title }}</h4>
            <span>{{ articles[4].author }} in {{ articles[4].source.name }}</span>
          </div>
        </div>
        <div class="second">
          <div class="second-number">02</div>
          <div class="second-content" *ngIf="articles[5]">
            <h4>{{ articles[5].title }}</h4>
            <span>{{ articles[5].author }} in {{ articles[5].source.name }}</span>
          </div>
        </div>
        <div class="third">
          <div class="third-number">03</div>
          <div class="third-content" *ngIf="articles[6]">
            <h4>{{ articles[6].title }}</h4>
            <span>{{ articles[6].author }} in {{ articles[6].source.name }}</span>
          </div>
        </div>
        <div class="fourth">
          <div class="fourth-number">04</div>
          <div class="fourth-content" *ngIf="articles[7]">
            <h4>{{ articles[7].title }}</h4>
            <span>{{ articles[7].author }} in {{ articles[7].source.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="seealltrends-button">
  <button class="seealltrends">SEE ALL TRENDS
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
<div class="image-contents">
  <div class="ic_alt">
    <div class="image">
      <div>
        <img [src]="articles[8].urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
      </div>



    </div>
    <div class="content-block">
      <div class="content" *ngIf="articles[8]">
        <span class="editorspick">EDITOR'S PICK</span>
        <div class="editor">
          <h2>{{ articles[8].title }}</h2>
        </div>

        <p>{{ articles[8].description }}</p>
        <div style="display: flex; flex-direction: column">
          <span>{{ articles[8].author }} in {{ articles[8].source.name }}</span>

        </div>

      </div>
    </div>

  </div>


</div>
<div class="politics-business">
  <div class="politics">
    <div class="header-politics">Politics</div>
    <div class="politics-content">
      <div *ngFor="let article of politicsArticles; let i = index" [class]="'pc' + (i + 1)">
        <div class="pc{{ i + 1 }}-image">
          <img [src]="article.urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
        </div>
        <div class="pc{{ i + 1 }}-content">
          <h2>{{ article.title }}</h2>
          <p>{{ article.description }}</p>
          <span>{{ article.author }}</span><br>
          <span>{{ article.publishedAt | date }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="business">
    <div class="header-business">Business</div>
    <div class="business-content">
      <ng-container *ngFor="let article of articles.slice(9, 12); let i = index">
        <div [class]="'bc' + (i + 1)" *ngIf="articles.length > 9 + i">
          <div class="bc{{ i + 1 }}-image">
            <img [src]="article.urlToImage || '/assets/breakingNews.jpg'" alt="Article Image">
          </div>
          <div class="bc{{ i + 1 }}-content">
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            <span>{{ article.author }}</span><br>
            <span>{{ article.publishedAt | date: 'mediumDate' }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>



</div>
<div class="recent-popular">
  <div class="recentnews">
    <div class="rn-header">Recent News</div>
    <div class="rn1" *ngFor="let article of randomRecentNews">
      <div class="r1-content">
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <span>{{ article.author }}</span><br>
        <span>{{ article.publishedAt | date: 'mediumDate' }}</span>
      </div>
    </div>
    <div class="rn2">
      <span class="rn2editorspick">EDITOR'S PICK</span>
      <h2>{{ randomRecentNews[0]?.title }}</h2>
      <p>{{ randomRecentNews[0]?.description }}</p>
      <div style="display: flex; flex-direction: column">
        <span>{{ randomRecentNews[0]?.author }}</span>
        <span>{{ randomRecentNews[0]?.publishedAt | date: 'mediumDate' }}</span>
      </div>
      <div class="i1">
        <img [src]="randomRecentNews[0]?.urlToImage || '/assets/breakingNews.jpg'">
      </div>
      <div class="i2">
        <img [src]="randomRecentNews[1]?.urlToImage || '/assets/breakingNews.jpg'">
      </div>
      <div class="i3">
        <img [src]="randomRecentNews[2]?.urlToImage || '/assets/breakingNews.jpg'">
      </div>
    </div>
  </div>
  <div class="popularposts">
    <div class="pp-header">Popular Posts</div>
    <div class="pp1" *ngFor="let post of randomPopularPosts; let i = index">
      <div class="pp{{ i + 1 }}-number">{{ '0' + (i + 1) }}</div>
      <div class="pp{{ i + 1 }}-content">
        <h4>{{ post.title }}</h4>
        <span>{{ post.author }} in News</span>
      </div>
    </div>
  </div>
</div>

<div class="seeallpopular-button">
  <button class="seeallpopular">SEE ALL POPULAR
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>

<div class="last">
  <div class="last-header">Newsletter Subscribe </div>
  <div class="last-content">
    <p> Get the latest news and exclusive content delivered straight to your inbox! Subscribe to our newsletter today!</p>
  </div>
  <div class="last-search">
    <div class="last-searchinput">
      <input type="text" class="searchinput" placeholder="Enter your email">
      <button type="submit" class="search-button">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
<div class="end"></div>




